.tree-node {
  padding: 4px 0;
  position: relative;
}

.tree-node.active {
  & > .tree-node-header {
    background-color: #EBECF0;

    .tree-node-actions {
      opacity: 1;
    }
  }
}

.tree-node.dragging {
  opacity: 0.5;
}

.tree-node.about-to-drop > .tree-node-header{
  background-color: #95a9f16a;
}

.tree-node-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  border-radius: 3px;
  transition: background-color 0.2s;
  gap: 8px;
  cursor: pointer;
}

.tree-node-header:hover {
  background-color: #EBECF0;
}

.tree-node-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tree-node-icon {
  color: #6B778C;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.tree-node-label {
  color: #172B4D;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-node-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.tree-node-header:hover .tree-node-actions {
  opacity: 1;
}

.tree-node-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.tree-node-children {
  margin-left: 24px;
}

.tree-node-input {
  border: 1px solid #e2e8f0;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: inherit;
  font-family: inherit;
  background: white;
  outline: none;
  width: 100%;
}

.tree-node-input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 1px #3b82f6;
}

/* Context menu */
.contexify {
  --contexify-zIndex: 1000;
  --contexify-menu-minWidth: 180px;
  --contexify-menu-padding: 4px;
  --contexify-menu-radius: 3px;
  --contexify-menu-bgColor: #FFFFFF;
  --contexify-menu-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
  --contexify-menu-negatePadding: var(--contexify-menu-padding);
  --contexify-separator-color: #DFE1E6;
  --contexify-separator-margin: 2px;
  --contexify-itemContent-padding: 6px 8px;
  --contexify-activeItem-radius: 3px;
  --contexify-item-color: #172B4D;
  --contexify-activeItem-color: #172B4D;
  --contexify-activeItem-bgColor: #F4F5F7;
  --contexify-rightSlot-color: #6B778C;
  --contexify-activeRightSlot-color: #6B778C;
  --contexify-arrow-color: #6B778C;
  --contexify-activeArrow-color: #6B778C;

  .contexify_item{
    margin-bottom: 5px;

    &.danger .contexify_itemContent:hover{
      background-color: #FFEBEE;
    }
  }
  .contexify_itemContent{
    gap: 8px;
  }
}



